{require_otp_vsn, "R1[456]B|17"}.

{erl_opts, [{parse_transform, eenum}, fail_on_warning, warn_export_all]}.


{deps, [
        {eenum, ".*", {git, "https://github.com/flowforwarding/eenum.git", {branch,"master"}}}
       ]}.

{deps_dir, "deps"}.
{lib_dirs, ["apps", "deps"]}.

{sub_dirs,
 ["apps/flex_msg",
  "apps/flex_msg_v1"]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
